.gridview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: auto;
}

#map-grid {
	display: grid;
	grid-template-columns: 90% 10%;
}

#map-sub-grid {
	display: grid;
	grid-template-rows: 85% 15%;
}

#legend-axis.tick line {
	display: none;
}

#bigchart {
}

.smallchartarea
{
    display: grid;
    grid-template-columns: 1fr 25px 1fr;;
}

#smallchart1 {
}

#smallchart2 {
}

.other {
}

.state {
    fill: white;
}

.header {
	text-align: center;
	color: coral;
}

h1 {
	font-size: 40px;
}

#synopsis {
	grid-column-start: 1;
	grid-column-end: 3;
}

#story {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto;
}


/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }
	

.grid-switch {
    padding: 10px;
}
