.gridview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: auto;
}

#map-grid {
    display: grid;
    grid-template-columns: auto 80px;
    grid-template-rows: auto 50px;
}

#map {
    text-align: center;
}

.fed-wage-text {
    font: bold 10px sans-serif;
}

#legend-axis.tick line, #legend-axis .domain {
    display: none;
}

#bigchart {
}

.chartInfo {
    grid-template-rows: 30px 1fr  
}

.smallchartarea
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

#smallchart1 {
}

#smallchart2 {
}

.other {
}

.state {
    fill: white;
}

.header {
    text-align: center;
    color: coral;
}

h1 {
    font-size: 40px;
}

#synopsis {
    text-align: center;
    font-size: 16px;
}

#data-selection {
    text-align: center;
}

#story {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
}

.cola {
    font-size: 22px;
}

.story-headline {
    font-size: 26px;
}

.event-headline {
    font-size: 26px;
}

a {
    font-size: 22px;
}

.switch {
    position: relative;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    left: 2px;
    top: 3px;
    width: 22px;
    height: 12px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 1px;
    top: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

#toggle-button {
    opacity: 0;
}

.slider-label {
    font-size: 15px;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 12px;
}

    .slider.round:before {
        border-radius: 50%;
    }
    

.grid-switch {
    font-size: 16px;
    text-align: center;
}

.grid-switch > text {
    padding-left: 5px;
}

#main-chart-title {
    padding-right: 30px;
    text-align: center;
    font-size: 24px;
}
