.gridview {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.map {
    grid-column: 1 / 3;
    grid-row: 1;
}

.wage {
    grid-column: 3;
    grid-row: 2 / 3;
}

.college {
    grid-column: 2 / 3;
    grid-row: 2;
}